<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>{{ titre }}</h1>
		<p>Hello, World!</p>
		<p>Nous sommes le
			{{ date }}.</p>

		{% if n > 0 %}
			{% for i in 1..n %}
				<p>J'affiche un paragraphe : § n°
					{{ i }}
					!</p>
			{% endfor %}
		{% else %}
			<p>Il n'y a pas de paragraphe à afficher.</p>
		{% endif %}

		{# Commentaire #}
	</body>
</html>
